<a href="https://colab.research.google.com/github/Simransoni1/regex/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

mylist=[10, 20, 30, 40, 19, 4, 3, 5, 2]
for i in range(0, 9):
  if(mylist[i]%2!=0):
    print(mylist[i])

19
3
5

In [ ]:
mylist=[10, 20, 301,"a", 40, 19, 4,2,"b"]
max_num=mylist[1]
for i in range(1,len(mylist)):
  if(mylist[i]>max_num):
    max=mylist[i]
  print(mylist[i])

20
301

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
mylist=[10, 20, 301,"a", 40, 19, 4,2,"b"]
for i in range(1,len(mylist)):
  if(type(mylist[i])==int and (mylist[i]>40)):

   print(mylist[i])

301

In [ ]:
x=[40, 50, -20, 60, 60, -20, -20]
for i in range(0,len(x)):
  for j in range(i+1,len(x)):

   if(x[i]==x[j]):
    print("duplicates=",x[i])

duplicates= -20
duplicates= -20
duplicates= 60
duplicates= -20

In [ ]:
x=[-7,-1,-7,1,8,8]
for i in range(0,len(x)):
  for j in range(i+1,len(x)):

   if(x[i]==x[j]):
    print("duplicates=",x[i])

duplicates= -7
duplicates= 8

In [ ]:
mylist=[10,20,301,40,19,4,2]
sum=0
for i in range(0,len(mylist)):
  sum+=mylist[i]
  print(sum)

10
30
331
371
390
394
396

In [ ]:
#sum of two problem
mylist=[0,1,2,5,7,11,14]
target=9
for i in range(0,len(mylist)):

  for j in range(i+1,len(mylist)):
    if(mylist[i]+mylist[j]==9):
     print("two values",mylist[i],mylist[j])

two values 2 7

In [ ]:
s="()"
x=None
for i in range(0,len(s)):
  char=s[i]
  if (char=="(" or char=="[" or char=="{"):
    x=char
    print("open=",char,x)
  else:
    print("close=",char,x)

open= ( (
close= ) (

In [ ]:
s="[)"
x=None
for i in range(0,len(s)):
  char=s[i]
  if (char=="(" or char=="[" or char=="{"):
    x=char
    print("open=",char,x)
  else:
    if(char==")" and  "("==x):
      print("valid",char,x)
    else:
      print("invalid",char,x)

open= [ [
invalid ) [

In [ ]:
s="[]"
x=None
for i in range(0,len(s)):
  char=s[i]
  if (char=="(" or char=="[" or char=="{"):
    x=char
    print("open=",char,x)
  else:
    if(char==")" and  "("==x or char=="]" and "["==x):
      print("valid",char,x)
    else:
      print("invalid",char,x)

open= [ [
valid ] [

In [ ]:
s="{}"
x=None
for i in range(0,len(s)):
  char=s[i]
  if (char=="(" or char=="[" or char=="{"):
    x=char
    print("open=",char,x)
  else:
    if(char==")" and  "("==x or char=="]" and "["==x and char=="}" or "{"==x):
      print("valid",char,x)
    else:
      print("invalid",char,x)

open= { {
valid } {

In [ ]:
s="[(]})]"
x=[]
a=0
for i in range(0,len(s)):
  char=s[i]
  if (char=="(" or char=="[" or char=="{"):
    x.append(char)

  else:
    if(char==")" and  "("==x[-1] or char=="]" and "["==x[-1] and char=="}" or "{"==x[-1]):
      a=1
    else:
      a=0
      x.pop()
      break
if(a==1):
  print("valid")
else:
  print("invalid")

invalid

In [ ]:
s="[{})"
#[ (   ]
x=[]      #x store open bracket
a=0
for i in range(0, len(s)):
  char=s[i]
  if(char=="(" or char=="{" or char=="["):
    x.append(char)
  elif(len(x) >0):
    if( (char==")"  and "("==x[-1]) or ( char=="]"  and "["==x[-1])  or ( char=="}"  and "{"==x[-1]) ):
      a=1
      x.pop()

    else:
      a=0
      break



if(a==1):
  print("valid")
else:
  print("invalid")

invalid

In [ ]:
#1 max no
x= [10, 20, 4, 45, 99]
max=x[0]
for i in range(0,len(x)):
  if(x[i]>max):
    max=x[i]
print("max=",x[i])

max= 99

In [ ]:
#2 sum all no
x= [10, 20, 30,40]
sum=0
for i in range(0,len(x)):
  sum+=x[i]

print(sum)

100

duplicates = 1
duplicates = 2
duplicates = 3
duplicates = 4
duplicates = 5

IndexError: list index out of range

In [ ]:
nums=[1,2,3,4,5]
x=[]
list=len(nums)
for i in range(list -1,-1,-1):
  x.append(nums[i])
print(x)

[5, 4, 3, 2, 1]

In [ ]:
m#sum of two problm based on target
mylist=[1,2,3,4,3,5,6]
target=6
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i]+mylist[j]==6):
     print("two value",mylist[i],mylist[j])

two value 1 5
two value 2 4
two value 3 3

In [ ]:
 n = len(numbers)
for i in range(n):
    for j in range(0, n - i - 1):
      if numbers[j] > numbers[j + 1]:  # Compare adjacent elements
        numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]  # Swap if out of order
print(numbers)

NameError: name 'numbers' is not defined

In [ ]:
numbers = [64, 34, 25, 12, 22, 11, 90]
sorted_numbers = sort_list(numbers)
print("Sorted list:", sorted_numbers)

NameError: name 'sort_list' is not defined

In [ ]:
x=[1,2,2,3,4,4,5]
for i in range (0,len(x)):
  for j in range(i+1,len(x)):
    if(x[i]==x[j]):

     print("duplicates =",x[i])

duplicates = 2
duplicates = 4

In [ ]:
x=[1,2,2,3,4,4,5]
for i in range (0,len(x)):
  for j in range(i+1,len(x)):
    if(x[i]==x[j]):
     x.pop(j)
     break

  print("duplicates",i,x)

duplicates 0 [1, 2, 2, 3, 4, 4, 5]
duplicates 1 [1, 2, 3, 4, 4, 5]
duplicates 2 [1, 2, 3, 4, 4, 5]
duplicates 3 [1, 2, 3, 4, 5]
duplicates 4 [1, 2, 3, 4, 5]
duplicates 5 [1, 2, 3, 4, 5]
duplicates 6 [1, 2, 3, 4, 5]

In [ ]:
num = [5, 2, 9, 1, 5, 6]
n=len(num)
for i in range(n):
  swapped =False
  for j in range(0,n-i-1):
    if num[j]>num[j+1]:
      num[j],num[j+1]=num[j+1],num[j]
      swapped=True
  if not swapped:

    break
print(num)

[1, 2, 5, 5, 6, 9]

In [ ]:
#12
x = ["apple", "banana", "strawberry", "kiwi"]
max=x[0]
for i in range(0,len(x)):
  if(x[i]>max):
    max=x[i]
print("max=",max)

max= strawberry

In [ ]:
#11
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common=[]
for i in range(0,len(list1)):
  if list1[i] in list2:
    common.append(list1[i])
print(common )

[3, 4, 5]

In [ ]:
x=[1,2,3,2,4,5,1,6]
for i in range (0,len(x)):
  for j in range(i+1,len(x)):
    if(x[i]==x[j]):
     x.pop(j)
     break

  print("duplicates",i,x)

duplicates 0 [1, 2, 3, 2, 4, 5, 6]
duplicates 1 [1, 2, 3, 4, 5, 6]
duplicates 2 [1, 2, 3, 4, 5, 6]
duplicates 3 [1, 2, 3, 4, 5, 6]
duplicates 4 [1, 2, 3, 4, 5, 6]
duplicates 5 [1, 2, 3, 4, 5, 6]
duplicates 6 [1, 2, 3, 4, 5, 6]
duplicates 7 [1, 2, 3, 4, 5, 6]

In [ ]:
mylist=[1,2,3,4,5]
total=0
sum=0
smallest=mylist[0]
largest=mylist[1]
for i in range(0,len(mylist)):
  sum+=mylist[i]
  if (mylist[i]>largest):
    largest=mylist[i]
  if (mylist[i]<smallest):
    smallest=mylist[i]

total=sum-largest-smallest

print("total=",total)

total= 9

In [ ]:
num=[1,2,3,2,1]
for i in range(0,len(num)):
  if(num[i]==num[-(i+1)]):
   continue
  else:
    print("false")
    break
else:
  print("true")

true

In [ ]:
n=[1,2,3,4,6]
for i in range(1,len(n)+1):
  if i not in n:
    print(i)
    break

5

In [ ]:
n=[4,5,1,2,0,4,5,2]
for i in range(0,len(n)):
  count=0
  for j in range(0,len(n)):
    if n[i]==n[j]:
      count+=1
  if count==1:
    print(n[i])
    break

1

In [ ]:
n=[0,1,0,3,12]
result=[]
for i in range(0,len(n)):
  if n[i]!=0:
    result.append(n[i])
for i in range (len(n)):
  if n[i]==0:
    result.append(n[i])
print(result)

[1, 3, 12, 0, 0]

In [ ]:
n=[1,3,2,6,5,8,7]
for i in range(len(n)-1):
  if n[i]<n[i+1]:
    print(n[i+1])

3
6
8

In [ ]:
str1="regexian"
str2="tushar"

for char in range(0,len(str1)):
  count=0

  if str1[char] in str2:
    if str1[char]== str2[char]:
      count+=1
      print(count)

IndexError: string index out of range

In [ ]:
s="abcde"
for index in range(0,2):
  data=""
  for j in range(index,len(s)):
    data=data+s[j]
    print(s[index],s[j],data)

a a a
a b ab
a c abc
a d abcd
a e abcde
b b b
b c bc
b d bcd
b e bcde

In [ ]:
def square(num):
  return num**2
  print(10)

In [ ]:
square(10)

100

In [ ]:
def square(num):
  return num**2
x=map(square,[10,20,30])
print(list(x))

[100, 400, 900]

In [ ]:
x=map(lambda num:num**2,[10,20,30])
print(list(x))

[100, 400, 900]